* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	text-align: center;
}

#space {
	background: #fff;
	border: 3px solid #333;
	margin: 50px auto 20px auto;
	overflow: hidden;
	position: relative;
	width: 960px;
	height: 500px;
}

.circle {
	background: blue;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}

.square {
	background: red;
	width: 30px;
	height: 30px;
}

input {
	font-size: 18px;
}